<app-overlay>
  <ng-container class="content">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h1>Find Your Place</h1>
      </div>
    </div>
  </ng-container>
</app-overlay>

<div class="container">
  <div class="row mt-5">
    <div class="col">
      <div class="form-search-wrap p-2" data-aos="fade-up" data-aos-delay="200">
        <form method="post">
          <div class="row  d-flex align-items-end">
            <div class="col-lg-3 col-xl-3 no-sm-border border-right">
              <select class="form-control" name="gender" id="">
                <option value="">Choose Gender </option>
                <option value="1">Male </option>
                <option value="2">Female </option>
               </select>
            </div>
            <div class="col-lg-2 col-xl-2 no-sm-border border-right">
              <select class="form-control" name="price" id="">
                <option value="">Choose price </option>
                <option value="">$500 - $1000 </option>
                <option value="">$1000 - $2000 </option>
                <option value="">$2000 - $3000 </option>
                <option value="">$300 - $4000 </option>
                <option value="">$4000 - $5000 </option>
                <option value="">$5000 - $6000 </option>
                <option value=""></option>
                
              </select>
            </div>
            <div class="col-lg-2 col-xl-2 no-sm-border border-right">
              <div class="wrap-icon">
                <span class="icon"><span class="icon-keyboard_arrow_down"></span></span>
               <select class="form-control" name="state" id="">
                  <option value="">locations </option>
                  <option value=""></option>
                  
                </select>
              </div>
              
            </div>
            <div class="col-lg-3 col-xl-3">
              <div class="select-wrap">
                <span class="icon"><span class="icon-keyboard_arrow_down"></span></span>
                <select class="form-control" name="state" id="">
                  <option value="">All States</option>
                  <option value=""></option>
                  
                </select>
              </div>
            </div>
            <div class="col-lg-2 col-xl-2 ">
              <input type="submit" class="btn text-white btn-dark" value="Search">
            </div>
            
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="site-section" data-aos="fade">
  <div class="container-fluid">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center border-primary">
        <h2 class="font-weight-light text-dark">All Apartments Realated to this Area</h2>
        <!-- <p class="color-black-opacity-5">All Apartment Realated to this Area.</p> -->
      </div>
    </div>
    
    <div class="row mt-5">
      
      <div class="col-md-6 mb-4 mb-lg-4 col-lg-4 ">
        
        <div class="card" style="width:450px">
          <img class="card-img-top" src="../../assets/images/apart_3.jpeg" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">owner : hamada </h4>
            <p class="card-text">Price : 500$</p>
            <p class="card-text">Address : 94 Abdul-Elgoad St,Dirout,Assuit,Egypt </p>
            <p class="card-text ">Max Persons : 
              <span class="icon icon-user p-1"></span>
              <span class="icon icon-user p-1"></span>
              <span class="icon icon-user p-1"></span>
              <span class="icon icon-user p-1"></span>
              <span class="icon icon-user p-1"></span>
              <span class="icon icon-user p-1"></span>

              </p>
            <p class="card-text">Gender : Male </p>
            
            <a routerLink="apart-details" class="btn btn-dark">Show</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
